
{% include "navbar.html" %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JordanDriveRentals</title>
    <link
      rel="icon"
      href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQGSVUlxvHRsxOFp2tRIRUIe-xroNt38kpjWw&usqp=CAU"
    />
    {% load static %}
    <link rel="stylesheet" href="{% static 'styel-fqas.css' %}">
  </head>


  <body>

    <din class="container-fqas">
      <h1>Frequently asked questions</h1>
      <div class="tap">
        <input type="radio" name="acc" id="acc1" />
        <label for="acc1">
          <h2>01</h2>
          <h3>How do I apply</h3>
        </label>
        <div class="content">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="tap">
        <input type="radio" name="acc" id="acc2" />
        <label for="acc2">
          <h2>02</h2>
          <h3>Lost or forgotten your password</h3>
        </label>
        <div class="content">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="tap">
        <input type="radio" name="acc" id="acc3" />
        <label for="acc3">
          <h2>03</h2>
          <h3>How can I make a change to my application?</h3>
        </label>
        <div class="content">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="tap">
        <input type="radio" name="acc" id="acc4" />
        <label for="acc4">
          <h2>04</h2>
          <h3>How can I update my name?</h3>
        </label>
        <div class="content">
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type
            and scrambled it to make a type specimen book. It has survived not
            only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s
            with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus
            PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
    </din>
  </body>

</html>

