{% extends 'manager_main.html' %}
{% block content %}

{% load static %}
<link rel="stylesheet" href="{% static 'car_cards.css' %}">

<style>
    .home-container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;


}
</style>
<div class="home-container">
{% for car in cars %}
<div>
	<div class="container">
		<div class="wrapper">
			<div class="banner-image" style="background-image: url({{car.imageLink}});"> </div>
			<h2 style="font-family: 'Righteous', sans-serif; color: rgba(255,255,255,0.98); text-transform: uppercase; font-size: 1.9rem;"> {{car.creator}} {{car.name}} </h2>
			<p>maodel: {{ car.model }} <br> price/day: {{car.pricePerDay}}   price/month: {{car.pricePerMonth}} </p>
		</div>
		<div class="button-wrapper"> 
				<button class="btn outline" onclick="window.location.href='/delete-car/{{car.id}}';">delete</button>
				<button class="btn fill" onclick="window.location.href='/edit-car/{{car.id}}';">EDIT</button>
		</div>
	</div> 
</div>
{% endfor %}
</div>

{% endblock content %}

